@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,500&display=swap");

body {
  background-color: #FA5091;
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sub-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

.country-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20em;
  height: 20em;
  margin: 0.2em;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
}

.country-container img {
  width: 15em;
  height: 10em;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 10em;
}

.search-box input {
  padding: 1em;
  font-family: "Poppins", sans-serif;
  width: 20em;
  border-radius: 0.5em;
  border: none;
  margin-top: 5em;
}

.details-text span {
  font-size: 0.75em;
  font-weight: 400;
  margin-left: 1em;
}

.top-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 2em 1em;
}

.top-data img {
  width: 20em;
}

.top-data h2 {
  width: 20em;
  font-weight: 600;
}

.top-data h2 span {
  font-size: 0.7em;
  font-weight: 400;
  margin-left: 1em;
}

.details-text {
  margin-left: 1.5em;
}

.details-text h3 {
  font-size: 1.3em;
  font-weight: 600;
}

.details-text a {
  text-decoration: none;
  color: wheat;
}

.details-text a:hover {
  color: rgb(247, 156, 0);
}
